<ion-content>
  <div class="container-web">
    <div class="conteudo">
      <div class="banner">
        <!--Espaco para banner do site-->
        <img src="assets/banner-img.svg">

      </div>
      <div class="login">
        <div class="login-conteudo">
          <div class="title"><b>Login</b></div>

          <form>
            <div class="caixa-input">
              <ion-input placeholder="email" id="email"></ion-input>
            </div>

            <div class="caixa-input" style="margin-top: 1.5vw;">
              <ion-input placeholder="senha" id="senha"></ion-input>
                <div class="esqueci-senha" (click)="esqueciSenha()"><ion-label>Esqueci senha</ion-label>
              </div>
            </div>
           

            <div class="caixa-button">
              <ion-button><b (click)="logar()">Entrar</b></ion-button>
            </div>
            <div class="criar-conta"><ion-label (click)="voltar()">Criar Conta</ion-label>
            </div>
            <div class="entrar-com"><b>Entrar com</b>
            </div>
            <div class="logar-com">
              <div class="img-logar">
                <div class="img-log">
                  <img class="imagem-logar" src="assets/img1.svg">
                </div>

              </div>
              <div class="img-logar">
                <div class="img-log">
                  <img class="imagem-logar" src="assets/img2.svg">
                </div>


              </div>
              <div class="img-logar">
                <div class="img-log">
                  <img class="imagem-logar" src="assets/img3.svg">
                </div>

              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container-app">
    <div class="conteudo-app">
      
    <div class="banner-app">
      <img src="assets/bannerApp.svg">

    </div>
    <div class="caixa-login-app">
      <div class="caixa-input">
        <ion-input placeholder="email" id="email"></ion-input>
      </div>

      <div class="caixa-input" style="margin-top: 1.5vw;">
        <ion-input placeholder="senha" id="senha"></ion-input>
        <div class="esqueci-senha"><ion-label>Esqueci senha</ion-label>
        </div>
      </div>

     </div>

     <div class="caixa-button">
      <ion-button><b (click)="logar()">Entrar</b></ion-button>
    </div>
    <div class="criar-conta"><ion-label (click)="voltar()">Criar Conta</ion-label>
    </div>
    <div class="entrar-com"><b>Entrar com</b>
    </div>

    <div class="logar-com">
      <div class="img-logar">
        <div class="img-log">
          <img class="imagem-logar" src="assets/img1.svg">
        </div>

      </div>
      <div class="img-logar">
        <div class="img-log">
          <img class="imagem-logar" src="assets/img2.svg">
        </div>


      </div>
      <div class="img-logar">
        <div class="img-log">
          <img class="imagem-logar" src="assets/img3.svg">
        </div>

      </div>
    </div>
  
  </div>  
  </div>


</ion-content>



