<ion-content >
  <div class="container-web">
    <div class="conteudo">
      <div class="banner">
        <!--Espaco para banner do site-->
        <img src="assets/banner-img.svg">

      </div>
      <div class="esqueci">
        <div class="esqueci-conteudo">
          <div class="title"><b>Informe seu email</b></div>

          <form>
            <div class="caixa-input">
              <ion-input placeholder="email" id="email"></ion-input>
            </div>
            <div class="caixa-button">
              <ion-button><b>Enviar</b></ion-button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
  <div class="container-app">
    <div class="conteudo-app">     
    <div class="banner-app">
      <img src="assets/bannerApp.svg">
    </div>
    <div class="caixa-esqueci-app">
      <div class="caixa-input">
        <ion-input placeholder="email" id="email"></ion-input>
      </div>
     </div>
     <div class="caixa-button">
      <ion-button><b>Enviar</b></ion-button>
    </div>
  </div>  
  </div>
  
</ion-content>
