.container-web{
    height: 100%;
  }
  
  .conteudo {
    width: 100%;
    display: flex;
    min-height: 100%;
    height: auto;
    
  
  
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
  
  
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
  
      }
    }
  
  
    .esqueci {
      width: 50%;
      height: inherit;
      background-color: white;
  
      .esqueci-conteudo {
        padding: 0% 9%;
        margin-top: 8vw;
  
        .title {
          text-align: center;
          font-size: 2.2vw;
          margin-bottom: 3vw;
        }
  
      }
    }
  
  //   .caixa-input {
  //       width: 67%;
  //       height: 20%;
  //       margin-left: auto;
  //       margin-right: auto;
  //       margin-top: 2vw;
  //       display: flex;
    
  
  
  //     ion-input {
  //       color: #000;
  //       height: 8vh !important;
  //       width: 4.1vw;
  //       border-radius: 25px;
  //       border: 1px solid #b1b1b1;
  //       --padding-start: 14px;
  //       min-height: 42px;
  //       margin-left: 1vw;
  //       --highlight-height: 0;
  // --highlight-color-focused: transparent;
  // --border-color-focused: transparent;
  // --caret-color: #000; // Cor da barra indicadora de escrita
  
  //     }
  //   }
  .caixa-input {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 2vw;


    ion-input {
      color: #000;
      height: 30px !important;
      border-radius: 10px;
      border: 1px solid #ebebeb;
      --padding-start: 14px;
      min-height: 42px;


    }
  }
  
    .caixa-button {
      padding: 0% 4%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vw;
  
  
      ion-button {
        width: 100%;
        height: 45px !important;
        --background: black !important;
        border-radius: 8vw !important;
        border: 1px solid #ebebeb;
      }
    }
  
  
  }
  
  @media screen and (min-width: 768px) {
    .container-app{
      display: none;
    }
    
  }
  
  @media screen and (max-width: 768px ) {
    .container-web{
      display: none;
    }
  
  
    .container-app{
  
      height: 100%;
      width: 100%;
    }
  
    .conteudo-app{
      width: 100%;
      min-height: 100%;
      height: auto;
      display: contents;
  
      
      .caixa-esqueci-app{
        padding-left: 1%;
        padding-right: 1%;
        position: absolute;
        top: 34%;
        width: 100%;
    
        .caixa-input {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          padding-top: 2vw;
      
      
          ion-input {
            color: #000;
            height: 30px !important;
            background-color: white;
            border-radius: 10px;
            border: 1px solid grey;
            --padding-start: 14px;
            min-height: 42px;
      
      
          }
        }
  
      }
  
  
      .banner-app{
        height: 65%;
        // background-image: url('../../assets/bannerApp.svg') ;
        //  background-image: url('../../assets/banner-img.svg') ;
        background-size: cover;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
    
        }
  
       
      }
  
      .caixa-button {
        padding: 0% 11%;
        width: 100%;
        position: absolute;
        top: 61%;
    
    
        ion-button {
          width: 100%;
          height: 45px !important;
          --background: black !important;
          border-radius: 100vw;
        
        }
      }
      
  
    
    }
    
  }
  
  
  