<ion-content>
  <div class="containner-web">
    <div class="conteudo">
      <div class="cabecario">
        <div class="topo-cabecario">
        <div class="logo">
            <img src="assets/logo-branco.svg">
        </div>
        <div class="search">
          <div class="caixa-input">
            <ion-input  id="search"></ion-input>
          </div>
        </div>
        <div class="carrinho">
          <img src="assets/sacola.png">
        </div> 
      </div>
      <div class="options">
        <div style="background-color: black; width: 14%;height:inherit;"></div>
        <div class="menu">
          <ul>
              <li>Home</li>
              <li>Perfil</li> 
              <li>Meus Pedidos</li>
              <li>Empresa</li>
          </ul>
      </div>  
      <div style="background-color: white; width: 17%;height:inherit;">
       <p style="font-size: 18px; text-align: center;">Entrar</p>
      </div>      
      </div>
      </div>
      <div class="banner">
        <!-- <img src="assets/b33.svg"> -->
        <!-- <img src="assets/bannerew.jpg" alt="Seu Banner" style="width: 100%;"> -->
      
          <div class="carousel-banner">
            <img [src]="bannner[idx]" alt="Image {{idx + 1}}">
          </div>    
     
      </div>
      <div class="info-banner">
      <div class="infos">
        <div class="img">
          <img src="assets/caminhao.png">
        </div>
        <div class="descricao">
          <p>Encomendas para todo o brasil!</p>
        </div>
      </div>
      <div class="infos">
        <div class="img">
          <img src="assets/loja.png">
        </div>
        <div class="descricao">
          <p>Mais de 200 lojas espalhadas pelo brasil</p>
        </div>
      </div>
      <div class="infos">
        <div class="img">
          <img src="assets/sacola.png">
        </div>
        <div class="descricao">
          <p>Parcele suas compra em até 12x sem juros</p>
        </div>
      </div>
      </div>
      <div class="produto-vendidos">
        <p class="mais-vendidos">Mais vendidos</p>

        <div class="caixa-produto">
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 8.svg" >
            </div>
           <div class="info">
            <p class="titulo">Titulo</p>
            <div class="descricao">
              <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 5.svg" >
            </div>
           <div class="info">
             <p class="titulo">Titulo</p>
            <div class="descricao">
              <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 7.svg" >
            </div>
           <div class="info">
             <p class="titulo"> All star Amarelo</p>
            <div class="descricao">
             <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
        </div>

      </div>
     <div style="width: 100%; height: 7vh; margin-top: 2vw;">
      <p style="font-size: 1.2rem; font-weight: bold; margin-left: 1vw;  ">Confira as novidades</p>
      </div>
      <div class="confira">
        <div class="carousel">
          <img [src]="images[idx]" alt="Image {{idx + 1}}">
        </div>    
      </div>
      <div style="width: 100%; height: 7vh; margin-top: 2vw;">
        <p style="font-size: 1.2rem; font-weight: bold; margin-left: 1vw; ">Encontre seu estilo</p>
        </div>
       <div class="row-estilo">
        <div class="row-card">
          <img src="assets/row6.jpg" alt="Seu Banner" style="width: 100%;">
        </div>
        <div class="row-card">
          <img src="assets/row5.jpg" alt="Seu Banner" style="width: 100%;">
        </div>
        <div class="row-card">
          <img src="assets/ro4.jpg" alt="Seu Banner" style="width: 100%;">
        </div>
        <div class="row-card">
          <img src="assets/ro8.jpg" alt="Seu Banner" style="width: 100%;">
        </div>
      </div>


      <div class="produto-vendidos">
        <p class="mais-vendidos">Mais vistos</p>

        <div class="caixa-produto">
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 28.svg" >
            </div>
           <div class="info">
            <p class="titulo">Titulo</p>
            <div class="descricao">
              <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 15.svg" >
            </div>
           <div class="info">
             <p class="titulo">Titulo</p>
            <div class="descricao">
              <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
          <div class="card">
            <div class="img-card">
              <!--imagem do produto-->
              <img src="assets/image 29.svg" >
            </div>
           <div class="info">
             <p class="titulo"> All star Amarelo</p>
            <div class="descricao">
             <p>Testando descricao para api quando estiver ok</p> 
            <p style="color: green; text-align: start;">R$: 100,00</p>
            </div>
            <div class="botao">
              <label>comprar</label>
            </div>
           </div>          
          </div>
        </div>

      </div>
      <div class="informacoes">
        <p class="explore-converse">Explore Converse</p>
       <div class="box-converse">
        <div class="info-converse">
          <div class="converse">
            <img src="assets/logo-preto.svg">
          <p>Nossa História</p>
          </div>
         </div>

         <div class="redes">
          <div class="conteudo">
            <div class="converse1">
              <img class="img"src="assets/face-logo.svg">
            </div>
            <div class="converse1">
              <img class="img-2" src="assets/insta-log.png">
            </div>
          </div>
          <p>Redes Sociais</p>
         </div>
       </div>
        
      </div>
      <div class="roda-pe">
        <div class="logo">
          <div class="img-logo">
            <img src="assets/logo-branco.svg">
          </div>
        </div>
        <div class="info">
          <p class="titulo">Termos de uso de Politica de Privacidade</p>
          <p>Converse Cooperativa de Trabalho e industria de Calçados Joanetense Ltda</p>
        </div>

      </div>
      
     
    </div>   
  </div>
</ion-content>
