.conteudo {
    font-family: cursive;
    .cabecario {
        width: 100%;
        min-height: 18vh;
        background-color: black;

        .options {

            width: 100%;
            height: 9vh;
            background-color: chartreuse;
            display: flex;

            .menu {
                width: 69%;
                height: 9vh;
                background-color: black;
                font-family: Arial;
                margin: auto;
                transition: background-color 0.3s ease; 
                ul {
                    list-style: none;
                    position: relative;
                    margin: 0;
                    padding-top: 10px;
                }

                li {
                    width: 10.5vw;
                    float: left;
                    height: 37px;
                    background-color: black;
                    text-align: center;
                    margin-left: 4vw;
                    padding-top: 7px;
                    color: white;
                    font-size: 16px;


                }
            }


            .menu ul li:hover{
                background-color: white;
                color: black;
                cursor: pointer;
            }

        }


        .topo-cabecario {
            width: 100%;
            background-color: black;
            height: 9vh;
            display: flex;

            .logo {
                width: 15%;
                height: 9vh;
                background-color: black;

                img{
                    width: 14vw;
                    height: 7vh;
                    margin-top: 1vw;
                    margin-left: 1vw;
                }

            }

            .search {
                width: 70%;
                height: 9vh;
                background-color: black;

                .caixa-input {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0.5vw;
                    background-color: white;



                    ion-input {
                        color: #000;
                        height: 30px !important;
                        border: 1px solid #ebebeb;
                        --padding-start: 14px;
                        min-height: 42px;
                    }
                }

            }

            .carrinho {
                width: 15%;
                height: 9vh;
                background-color: black;

                img{
                    width: 2vw;
                    height: 4vh;
                    margin-left: 6vw;
                    margin-top: 1vw;
                }


            

            }

        }


    }

    .banner {
        width: 100%;
        height: 70vh;
        background-color: black;
        overflow: hidden; /* Oculta as imagens que saem da área visível */


          .carousel-banner {
            width: 100%;
            display: flex;
            transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave ao movimento do carrossel */
          }
          

        img{
            width: 100%;
             height: inherit;
        }
    }


    .info-banner {
        background-color: white;
        width: 100%;
        height: 12vh;
        display:flex;

        .infos{
            width: 34%;
            height: inherit;
            background-color: black;
            display: flex;
            padding-left: 5vw;
            padding-top: 0.7vw;

            .descricao{
                width: 17vw;
                height: 3vh;
                padding-left: 1vw;
                color: white;
                
            }

            .img{
                height: 10vh;
                width: 12vh;
                margin-top: 1vw;
                
                img{
                    width: 2vw;
                    height: 4vh;
                    margin-left: 2vw;
                }

            }
        }
    }

    .produto-vendidos {
        width: 100%;
        min-height: 58vh;
        background-color: white;

        .mais-vendidos {
            text-align: center;
            margin-top: 0vw;
            padding-top: 2vw;
            font-size: 20px;
            font-weight: bold;

        }

        .caixa-produto{
         width: 100%;
         min-height: 60vh;
         display: flex;
        
        }

        .card{
            width: 32%;
            min-height: 44vh;
            
            margin: auto;

            .img-card{
                width: 12vw;
                height: 20vh;
                background-color: black;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1vw;
                margin-bottom: -1vw;
              

            }

            .info{
                margin-left: auto;     
                margin-right: auto;     
                width: 16vw;     
                min-height: 12vh;
                // height: 8vw;
                

                .descricao{
                    width: 100%;
                    margin: auto;
                    min-height: 10vh;
                    font-family:cursive;
                }

                .titulo{
                    font-size: 14px;
                    font-weight: bold;
                    font-family: cursive;
                    padding-top: 1.5vw;

                }

               
                .botao{
                    width: 9vw;
                    height: 2vw;
                    background-color: #000;
                    border-radius: 15px;
                    margin-top: 1vw;
                    color: white;
                    padding-top: 0.1vw;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;

                    label{
                       color: white;
                       font-family: cursive;
                    }
                }
            }

           
        }


    }


    .confira {
        width: 100%;
        overflow: hidden; /* Oculta as imagens que saem da área visível */
        height: 45vh;

       
      }
      
      .carousel {
        width: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave ao movimento do carrossel */
      }
      
      .carousel-item {
        width: 100%;
        height: 45vh;
        object-fit: cover; /* Garante que a imagem cubra todo o contêiner */
      }
      

    .row-estilo{
        display: flex;

        .row-card {
            width: 25%;
            overflow: hidden; 
        
          }
          
          .row-card img {
            height: 70vh;
            width: 100%; /* Alterei o width para 100% para que as imagens ocupem a largura completa do container .row-card */
            transition: filter 0.5s;
          }
          
          .row-card:hover img {
            filter: grayscale(100%);
            // filter: hue-rotate(90deg);
            // filter: sepia(50%);
            // filter: invert(0%);
            transform: scale(1.2); 
          }
          

    }


    .informacoes{
        width: 100%;
        height: 50vh;
        
        .explore-converse {
            text-align: center;
            margin-top: 0vw;
            padding-top: 2vw;
            font-size: 20px;
            font-weight: bold;

        }

        .box-converse{
            display: flex;
            width: 100%;
            height: 40vh;


            .info-converse{
                width: 25%;
                height: 30vh;
                // background-color: black;
                margin: 2vw auto 0px 22vw;


               .converse{
                width: 12vw;
                height: 20vh;
                margin: 2vw auto auto auto;

                img{
                    width: 12vw;
                    height: 14vh;
                }

                p{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                }

               }
                
            }
    
            .redes{
                width: 25%;
                height: 30vh;
                margin: 2vw 22vw 0px auto;

              .conteudo{
                height: 19vh;
                width: 100%;
                display: flex;
                
                .converse1{
                    width: 50%;
                    height: 9vh;
                    margin-top:3vw;
                 

                    .img{
                        width: 7vw;
                        height: 8vh;
                        margin-left: 4vw;
                    }

                    .img-2{
                        width: 4vw;
                        height: 8vh;
                        margin-left: 3vw;

                    }
    
                 }

            
    
              }

              p{
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }

            }
        }

      

    }

    .roda-pe{
        width: 100%;
        height: 30vh;
        background-color: black;
      
       .logo{
        width: inherit;
        height: 15vh;
        background-color: gray;
       }

       .info{
        width: inherit;
        height: 15vh;
        background-color: black;

       }

    }

   






}